.btn {
  @apply  w-full 
          lg:w-auto 
          relative
          flex 
          items-center 
          justify-center 
          lg:justify-start 
          cursor-pointer 
          px-8
          py-2 
          bg-yellow-300 
          font-bold
          no-underline 
          rounded-2xl
          hover:scale-105
          hover:shadow
          transition-all;
}

.btn-close {
 @apply cursor-pointer 
        inline-block
        no-underline
        px-8
        py-2
        font-bold
        border
        border-zinc-300
        rounded-2xl
        hover:scale-105
        hover:shadow
        transition-all;
}

.btn-cart {
  @apply  absolute
          block
          no-underline
          w-6
          h-6
          -top-2
          -right-2
          rounded-full
          bg-red-500
          text-sm
          text-white
          font-bold
          flex
          justify-center
          items-center;
}